@media (max-width:740px){
    nav{
        height:60px;
    }
    nav .spotify-img{
        width: 33px;
        margin: 0 0 0 10px;
    }
    .spotify{
        left: 50px;
    }
    .home{
        display: none;
    }
    .search-container{
        display: none;
    }
    .buttons button{
        font-size:16px;
        padding: 6px;
        border-radius:30px;
        width: 16vw;
    }
    .sign-btn{
        display: none;
    }
    .left{
        position: absolute;
        left:-110%;
        z-index:1;
        transition:ease 0.2s;
        width:70vw;
        height: 70vh;
    }
    .create-playlist .btn{
        width:20vw;
    }
    .right {
        width: 100%;
        padding: 10px;
        /* height: auto; */
        overflow-y: auto;
        height:82vh;
    }
    .cardcontainer {
        flex-wrap: wrap;
        gap: 13px;
        justify-content: center;
        margin-top: 12px;
    }
    .span{
        display: none;
    }
    .cardcontainer .card h3{
        font-size: 40px;
    }        
    .cardcontainer .card p{
        font-size: 30px;
    }        
    .card{
        width:39vw;
    }
    .playlist{
        max-height:75vh;
    }
    .playlist>span{
        margin-top:2px;
        margin-left:45px;
        font-size: 25px;
        /* position: fixed; */
    }
    .cardcontainer span{
      margin-top:2px;
      font-size: 25px;
    }
    .hamburger{
        display: block;
        /* display: inline; */
        width: 30px;
        position: fixed;
        left: 15px;
        z-index: index -2;;
    }
    .close{
        display:block;
        top:7px;
        right:3%;
    }
    .playbar{
        height:50px;
        justify-content: center;
    }
    .seekbar{
        position: relative;
        top:-1px;
        height: 6px;
    }
    .p-symbol .songinfo{
        display: none;
        top: -34px;
        margin-left: 290px;
        font-size: 1.8em;
        word-break:break-all;
    }
    .p-symbol .songtime{
        font-size: 1.5em;
        word-break:break-all;
        bottom: -30px;
        left: 380px;
        display: none;
    }
    .p-symbol img{
        height: 2em;
    }

    /* for login */
    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width:350px;
      }
      .login-card {
        width: 100%;
        height: 72vh;
        padding: 15px 30px 0px 30px;
      }
      .login-card h1 {
        font-size: 1.3rem;
        margin-bottom:7px;
      }
      .input-group label {
        font-size:0.9rem;
        margin-bottom:3px;
      }
      .input-group input {
        padding:7px;
        font-size: 0.9rem;
      }
      .input-group {
        margin-bottom: 12px;
      }
      .login-button {
        padding:7px;
        font-size: 0.9rem;
      }
      .divider {
        margin: 10px 0;
        font-size: 0.8rem;
      }
      .social-button {
        padding:7px;
        font-size: 0.9rem;
        margin-bottom: 10px;
      }
      .signup-text {
        margin-top:0px;
        font-size: 0.9rem;
        margin-bottom:0;
      }
      .back-to-home{
        font-size:13px;
        margin: 5px;
      }

      /* for signup */
      .signup-container {
        max-width: 350px;
        width:60%;
      }
      .signup-card h1 {
        font-size: 1.3rem;
        margin-bottom:7px;
      }
      .checkbox-group label {
        font-size: 0.9rem;
      }
      .signup-button {
        padding:7px;
        font-size: 0.9rem;
      }
      .login-text{
        margin-top:5px;
        font-size: 0.9rem;
        margin-bottom:0;
      }
}